:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shdow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.dashboard-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.dashboard-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.dashboard-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.dashboard-table,.dashboard-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.dashboard-table-all{border:1px solid #ccc}
.dashboard-bordered tr,.dashboard-table-all tr{border-bottom:1px solid #ddd}.dashboard-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.dashboard-table-all tr:nth-child(odd){background-color:#fff}.dashboard-table-all tr:nth-child(even){background-color:#f1f1f1}
.dashboard-hoverable tbody tr:hover,.dashboard-ul.dashboard-hoverable li:hover{background-color:#ccc}.dashboard-centered tr th,.dashboard-centered tr td{text-align:center}
.dashboard-table td,.dashboard-table th,.dashboard-table-all td,.dashboard-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.dashboard-table th:first-child,.dashboard-table td:first-child,.dashboard-table-all th:first-child,.dashboard-table-all td:first-child{padding-left:16px}
.dashboard-btn,.dashboard-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.dashboard-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.dashboard-btn,.dashboard-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.dashboard-disabled,.dashboard-btn:disabled,.dashboard-button:disabled{cursor:not-allowed;opacity:0.3}.dashboard-disabled *,:disabled *{pointer-events:none}
.dashboard-btn.dashboard-disabled:hover,.dashboard-btn:disabled:hover{box-shadow:none}
.dashboard-badge,.dashboard-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.dashboard-badge{border-radius:50%}
.dashboard-ul{list-style-type:none;padding:0;margin:0}.dashboard-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.dashboard-ul li:last-child{border-bottom:none}
.dashboard-tooltip,.dashboard-display-container{position:relative}.dashboard-tooltip .dashboard-text{display:none}.dashboard-tooltip:hover .dashboard-text{display:inline-block}
.dashboard-ripple:active{opacity:0.5}.dashboard-ripple{transition:opacity 0s}
.dashboard-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.dashboard-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.dashboard-dropdown-click,.dashboard-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.dashboard-dropdown-hover:hover .dashboard-dropdown-content{display:block}
.dashboard-dropdown-hover:first-child,.dashboard-dropdown-click:hover{background-color:#ccc;color:#000}
.dashboard-dropdown-hover:hover > .dashboard-button:first-child,.dashboard-dropdown-click:hover > .dashboard-button:first-child{background-color:#ccc;color:#000}
.dashboard-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.dashboard-check,.dashboard-radio{width:24px;height:24px;position:relative;top:6px}
.dashboard-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.dashboard-bar-block .dashboard-dropdown-hover,.dashboard-bar-block .dashboard-dropdown-click{width:100%}
.dashboard-bar-block .dashboard-dropdown-hover .dashboard-dropdown-content,.dashboard-bar-block .dashboard-dropdown-click .dashboard-dropdown-content{min-width:100%}
.dashboard-bar-block .dashboard-dropdown-hover .dashboard-button,.dashboard-bar-block .dashboard-dropdown-click .dashboard-button{width:100%;text-align:left;padding:8px 16px}
.dashboard-main,#main{transition:margin-left .4s}
.dashboard-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.dashboard-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.dashboard-bar{width:100%;overflow:hidden}.dashboard-center .dashboard-bar{display:inline-block;width:auto}
.dashboard-bar .dashboard-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.dashboard-bar .dashboard-dropdown-hover,.dashboard-bar .dashboard-dropdown-click{position:static;float:left}
.dashboard-bar .dashboard-button{white-space:normal}
.dashboard-bar-block .dashboard-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.dashboard-bar-block.dashboard-center .dashboard-bar-item{text-align:center}.dashboard-block{display:block;width:100%}
.dashboard-responsive{display:block;overflow-x:auto}
.dashboard-container:after,.dashboard-container:before,.dashboard-panel:after,.dashboard-panel:before,.dashboard-row:after,.dashboard-row:before,.dashboard-row-padding:after,.dashboard-row-padding:before,
.dashboard-cell-row:before,.dashboard-cell-row:after,.dashboard-clear:after,.dashboard-clear:before,.dashboard-bar:before,.dashboard-bar:after{content:"";display:table;clear:both}
.dashboard-col,.dashboard-half,.dashboard-third,.dashboard-twothird,.dashboard-threequarter,.dashboard-quarter{float:left;width:100%}
.dashboard-col.s1{width:8.33333%}.dashboard-col.s2{width:16.66666%}.dashboard-col.s3{width:24.99999%}.dashboard-col.s4{width:33.33333%}
.dashboard-col.s5{width:41.66666%}.dashboard-col.s6{width:49.99999%}.dashboard-col.s7{width:58.33333%}.dashboard-col.s8{width:66.66666%}
.dashboard-col.s9{width:74.99999%}.dashboard-col.s10{width:83.33333%}.dashboard-col.s11{width:91.66666%}.dashboard-col.s12{width:99.99999%}
@media (min-width:601px){.dashboard-col.m1{width:8.33333%}.dashboard-col.m2{width:16.66666%}.dashboard-col.m3,.dashboard-quarter{width:24.99999%}.dashboard-col.m4,.dashboard-third{width:33.33333%}
.dashboard-col.m5{width:41.66666%}.dashboard-col.m6,.dashboard-half{width:49.99999%}.dashboard-col.m7{width:58.33333%}.dashboard-col.m8,.dashboard-twothird{width:66.66666%}
.dashboard-col.m9,.dashboard-threequarter{width:74.99999%}.dashboard-col.m10{width:83.33333%}.dashboard-col.m11{width:91.66666%}.dashboard-col.m12{width:99.99999%}}
@media (min-width:993px){.dashboard-col.l1{width:8.33333%}.dashboard-col.l2{width:16.66666%}.dashboard-col.l3{width:24.99999%}.dashboard-col.l4{width:33.33333%}
.dashboard-col.l5{width:41.66666%}.dashboard-col.l6{width:49.99999%}.dashboard-col.l7{width:58.33333%}.dashboard-col.l8{width:66.66666%}
.dashboard-col.l9{width:74.99999%}.dashboard-col.l10{width:83.33333%}.dashboard-col.l11{width:91.66666%}.dashboard-col.l12{width:99.99999%}}
.dashboard-rest{overflow:hidden}.dashboard-stretch{margin-left:-16px;margin-right:-16px}
.dashboard-content,.dashboard-auto{margin-left:auto;margin-right:auto}.dashboard-content{max-width:980px}.dashboard-auto{max-width:1140px}
.dashboard-cell-row{display:table;width:100%}.dashboard-cell{display:table-cell}
.dashboard-cell-top{vertical-align:top}.dashboard-cell-middle{vertical-align:middle}.dashboard-cell-bottom{vertical-align:bottom}
.dashboard-hide{display:none!important}.dashboard-show-block,.dashboard-show{display:block!important}.dashboard-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.dashboard-auto{max-width:95%}}
@media (max-width:600px){.dashboard-modal-content{margin:0 10px;width:auto!important}.dashboard-modal{padding-top:30px}
.dashboard-dropdown-hover.dashboard-mobile .dashboard-dropdown-content,.dashboard-dropdown-click.dashboard-mobile .dashboard-dropdown-content{position:relative}	
.dashboard-hide-small{display:none!important}.dashboard-mobile{display:block;width:100%!important}.dashboard-bar-item.dashboard-mobile,.dashboard-dropdown-hover.dashboard-mobile,.dashboard-dropdown-click.dashboard-mobile{text-align:center}
.dashboard-dropdown-hover.dashboard-mobile,.dashboard-dropdown-hover.dashboard-mobile .dashboard-btn,.dashboard-dropdown-hover.dashboard-mobile .dashboard-button,.dashboard-dropdown-click.dashboard-mobile,.dashboard-dropdown-click.dashboard-mobile .dashboard-btn,.dashboard-dropdown-click.dashboard-mobile .dashboard-button{width:100%}}
@media (max-width:768px){.dashboard-modal-content{width:500px}.dashboard-modal{padding-top:50px}}
@media (min-width:993px){.dashboard-modal-content{width:900px}.dashboard-hide-large{display:none!important}.dashboard-sidebar.dashboard-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.dashboard-hide-medium{display:none!important}}
@media (max-width:992px){.dashboard-sidebar.dashboard-collapse{display:none}.dashboard-main{margin-left:0!important;margin-right:0!important}.dashboard-auto{max-width:100%}}
.dashboard-top,.dashboard-bottom{position:fixed;width:100%;z-index:1}.dashboard-top{top:0}.dashboard-bottom{bottom:0}
.dashboard-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.dashboard-display-topleft{position:absolute;left:0;top:0}.dashboard-display-topright{position:absolute;right:0;top:0}
.dashboard-display-bottomleft{position:absolute;left:0;bottom:0}.dashboard-display-bottomright{position:absolute;right:0;bottom:0}
.dashboard-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.dashboard-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.dashboard-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.dashboard-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.dashboard-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.dashboard-display-container:hover .dashboard-display-hover{display:block}.dashboard-display-container:hover span.dashboard-display-hover{display:inline-block}.dashboard-display-hover{display:none}
.dashboard-display-position{position:absolute}
.dashboard-circle{border-radius:50%}
.dashboard-round-small{border-radius:2px}.dashboard-round,.dashboard-round-medium{border-radius:4px}.dashboard-round-large{border-radius:8px}.dashboard-round-xlarge{border-radius:16px}.dashboard-round-xxlarge{border-radius:32px}
.dashboard-row-padding,.dashboard-row-padding>.dashboard-half,.dashboard-row-padding>.dashboard-third,.dashboard-row-padding>.dashboard-twothird,.dashboard-row-padding>.dashboard-threequarter,.dashboard-row-padding>.dashboard-quarter,.dashboard-row-padding>.dashboard-col{padding:0 8px}
.dashboard-container,.dashboard-panel{padding:0.01em 16px}.dashboard-panel{margin-top:16px;margin-bottom:16px}
.dashboard-code,.dashboard-codespan{font-family:Consolas,"courier new";font-size:16px}
.dashboard-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.dashboard-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.dashboard-card,.dashboard-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.dashboard-card-4,.dashboard-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.dashboard-spin{animation:dashboard-spin 2s infinite linear}@keyframes dashboard-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.dashboard-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.dashboard-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.dashboard-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.dashboard-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.dashboard-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.dashboard-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.dashboard-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.dashboard-animate-input{transition:width 0.4s ease-in-out}.dashboard-animate-input:focus{width:100%!important}
.dashboard-opacity,.dashboard-hover-opacity:hover{opacity:0.60}.dashboard-opacity-off,.dashboard-hover-opacity-off:hover{opacity:1}
.dashboard-opacity-max{opacity:0.25}.dashboard-opacity-min{opacity:0.75}
.dashboard-greyscale-max,.dashboard-grayscale-max,.dashboard-hover-greyscale:hover,.dashboard-hover-grayscale:hover{filter:grayscale(100%)}
.dashboard-greyscale,.dashboard-grayscale{filter:grayscale(75%)}.dashboard-greyscale-min,.dashboard-grayscale-min{filter:grayscale(50%)}
.dashboard-sepia{filter:sepia(75%)}.dashboard-sepia-max,.dashboard-hover-sepia:hover{filter:sepia(100%)}.dashboard-sepia-min{filter:sepia(50%)}
.dashboard-tiny{font-size:10px!important}.dashboard-small{font-size:12px!important}.dashboard-medium{font-size:15px!important}.dashboard-large{font-size:18px!important}
.dashboard-xlarge{font-size:24px!important}.dashboard-xxlarge{font-size:36px!important}.dashboard-xxxlarge{font-size:48px!important}.dashboard-jumbo{font-size:64px!important}
.dashboard-left-align{text-align:left!important}.dashboard-right-align{text-align:right!important}.dashboard-justify{text-align:justify!important}.dashboard-center{text-align:center!important}
.dashboard-border-0{border:0!important}.dashboard-border{border:1px solid #ccc!important}
.dashboard-border-top{border-top:1px solid #ccc!important}.dashboard-border-bottom{border-bottom:1px solid #ccc!important}
.dashboard-border-left{border-left:1px solid #ccc!important}.dashboard-border-right{border-right:1px solid #ccc!important}
.dashboard-topbar{border-top:6px solid #ccc!important}.dashboard-bottombar{border-bottom:6px solid #ccc!important}
.dashboard-leftbar{border-left:6px solid #ccc!important}.dashboard-rightbar{border-right:6px solid #ccc!important}
.dashboard-section,.dashboard-code{margin-top:16px!important;margin-bottom:16px!important}
.dashboard-margin{margin:16px!important}.dashboard-margin-top{margin-top:16px!important}.dashboard-margin-bottom{margin-bottom:16px!important}
.dashboard-margin-left{margin-left:16px!important}.dashboard-margin-right{margin-right:16px!important}
.dashboard-padding-small{padding:4px 8px!important}.dashboard-padding{padding:8px 16px!important}.dashboard-padding-large{padding:12px 24px!important}
.dashboard-padding-16{padding-top:16px!important;padding-bottom:16px!important}.dashboard-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.dashboard-padding-32{padding-top:32px!important;padding-bottom:32px!important}.dashboard-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.dashboard-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.dashboard-left{float:left!important}.dashboard-right{float:right!important}
.dashboard-button:hover{color:#000!important;background-color:#ccc!important}
.dashboard-transparent,.dashboard-hover-none:hover{background-color:transparent!important}
.dashboard-hover-none:hover{box-shadow:none!important}
/* Colors */
.dashboard-amber,.dashboard-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.dashboard-aqua,.dashboard-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.dashboard-blue,.dashboard-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.dashboard-light-blue,.dashboard-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.dashboard-brown,.dashboard-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.dashboard-cyan,.dashboard-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.dashboard-blue-grey,.dashboard-hover-blue-grey:hover,.dashboard-blue-gray,.dashboard-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.dashboard-green,.dashboard-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.dashboard-light-green,.dashboard-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.dashboard-indigo,.dashboard-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.dashboard-khaki,.dashboard-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.dashboard-lime,.dashboard-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.dashboard-orange,.dashboard-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.dashboard-deep-orange,.dashboard-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.dashboard-pink,.dashboard-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.dashboard-purple,.dashboard-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.dashboard-deep-purple,.dashboard-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.dashboard-red,.dashboard-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.dashboard-sand,.dashboard-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.dashboard-teal,.dashboard-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.dashboard-yellow,.dashboard-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.dashboard-white,.dashboard-hover-white:hover{color:#000!important;background-color:#fff!important}
.dashboard-black,.dashboard-hover-black:hover{color:#fff!important;background-color:#000!important}
.dashboard-grey,.dashboard-hover-grey:hover,.dashboard-gray,.dashboard-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.dashboard-light-grey,.dashboard-hover-light-grey:hover,.dashboard-light-gray,.dashboard-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.dashboard-dark-grey,.dashboard-hover-dark-grey:hover,.dashboard-dark-gray,.dashboard-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.dashboard-pale-red,.dashboard-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.dashboard-pale-green,.dashboard-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.dashboard-pale-yellow,.dashboard-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.dashboard-pale-blue,.dashboard-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.dashboard-text-amber,.dashboard-hover-text-amber:hover{color:#ffc107!important}
.dashboard-text-aqua,.dashboard-hover-text-aqua:hover{color:#00ffff!important}
.dashboard-text-blue,.dashboard-hover-text-blue:hover{color:#2196F3!important}
.dashboard-text-light-blue,.dashboard-hover-text-light-blue:hover{color:#87CEEB!important}
.dashboard-text-brown,.dashboard-hover-text-brown:hover{color:#795548!important}
.dashboard-text-cyan,.dashboard-hover-text-cyan:hover{color:#00bcd4!important}
.dashboard-text-blue-grey,.dashboard-hover-text-blue-grey:hover,.dashboard-text-blue-gray,.dashboard-hover-text-blue-gray:hover{color:#607d8b!important}
.dashboard-text-green,.dashboard-hover-text-green:hover{color:#4CAF50!important}
.dashboard-text-light-green,.dashboard-hover-text-light-green:hover{color:#8bc34a!important}
.dashboard-text-indigo,.dashboard-hover-text-indigo:hover{color:#3f51b5!important}
.dashboard-text-khaki,.dashboard-hover-text-khaki:hover{color:#b4aa50!important}
.dashboard-text-lime,.dashboard-hover-text-lime:hover{color:#cddc39!important}
.dashboard-text-orange,.dashboard-hover-text-orange:hover{color:#ff9800!important}
.dashboard-text-deep-orange,.dashboard-hover-text-deep-orange:hover{color:#ff5722!important}
.dashboard-text-pink,.dashboard-hover-text-pink:hover{color:#e91e63!important}
.dashboard-text-purple,.dashboard-hover-text-purple:hover{color:#9c27b0!important}
.dashboard-text-deep-purple,.dashboard-hover-text-deep-purple:hover{color:#673ab7!important}
.dashboard-text-red,.dashboard-hover-text-red:hover{color:#f44336!important}
.dashboard-text-sand,.dashboard-hover-text-sand:hover{color:#fdf5e6!important}
.dashboard-text-teal,.dashboard-hover-text-teal:hover{color:#009688!important}
.dashboard-text-yellow,.dashboard-hover-text-yellow:hover{color:#d2be0e!important}
.dashboard-text-white,.dashboard-hover-text-white:hover{color:#fff!important}
.dashboard-text-black,.dashboard-hover-text-black:hover{color:#000!important}
.dashboard-text-grey,.dashboard-hover-text-grey:hover,.dashboard-text-gray,.dashboard-hover-text-gray:hover{color:#757575!important}
.dashboard-text-light-grey,.dashboard-hover-text-light-grey:hover,.dashboard-text-light-gray,.dashboard-hover-text-light-gray:hover{color:#f1f1f1!important}
.dashboard-text-dark-grey,.dashboard-hover-text-dark-grey:hover,.dashboard-text-dark-gray,.dashboard-hover-text-dark-gray:hover{color:#3a3a3a!important}
.dashboard-border-amber,.dashboard-hover-border-amber:hover{border-color:#ffc107!important}
.dashboard-border-aqua,.dashboard-hover-border-aqua:hover{border-color:#00ffff!important}
.dashboard-border-blue,.dashboard-hover-border-blue:hover{border-color:#2196F3!important}
.dashboard-border-light-blue,.dashboard-hover-border-light-blue:hover{border-color:#87CEEB!important}
.dashboard-border-brown,.dashboard-hover-border-brown:hover{border-color:#795548!important}
.dashboard-border-cyan,.dashboard-hover-border-cyan:hover{border-color:#00bcd4!important}
.dashboard-border-blue-grey,.dashboard-hover-border-blue-grey:hover,.dashboard-border-blue-gray,.dashboard-hover-border-blue-gray:hover{border-color:#607d8b!important}
.dashboard-border-green,.dashboard-hover-border-green:hover{border-color:#4CAF50!important}
.dashboard-border-light-green,.dashboard-hover-border-light-green:hover{border-color:#8bc34a!important}
.dashboard-border-indigo,.dashboard-hover-border-indigo:hover{border-color:#3f51b5!important}
.dashboard-border-khaki,.dashboard-hover-border-khaki:hover{border-color:#f0e68c!important}
.dashboard-border-lime,.dashboard-hover-border-lime:hover{border-color:#cddc39!important}
.dashboard-border-orange,.dashboard-hover-border-orange:hover{border-color:#ff9800!important}
.dashboard-border-deep-orange,.dashboard-hover-border-deep-orange:hover{border-color:#ff5722!important}
.dashboard-border-pink,.dashboard-hover-border-pink:hover{border-color:#e91e63!important}
.dashboard-border-purple,.dashboard-hover-border-purple:hover{border-color:#9c27b0!important}
.dashboard-border-deep-purple,.dashboard-hover-border-deep-purple:hover{border-color:#673ab7!important}
.dashboard-border-red,.dashboard-hover-border-red:hover{border-color:#f44336!important}
.dashboard-border-sand,.dashboard-hover-border-sand:hover{border-color:#fdf5e6!important}
.dashboard-border-teal,.dashboard-hover-border-teal:hover{border-color:#009688!important}
.dashboard-border-yellow,.dashboard-hover-border-yellow:hover{border-color:#ffeb3b!important}
.dashboard-border-white,.dashboard-hover-border-white:hover{border-color:#fff!important}
.dashboard-border-black,.dashboard-hover-border-black:hover{border-color:#000!important}
.dashboard-border-grey,.dashboard-hover-border-grey:hover,.dashboard-border-gray,.dashboard-hover-border-gray:hover{border-color:#9e9e9e!important}
.dashboard-border-light-grey,.dashboard-hover-border-light-grey:hover,.dashboard-border-light-gray,.dashboard-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.dashboard-border-dark-grey,.dashboard-hover-border-dark-grey:hover,.dashboard-border-dark-gray,.dashboard-hover-border-dark-gray:hover{border-color:#616161!important}
.dashboard-border-pale-red,.dashboard-hover-border-pale-red:hover{border-color:#ffe7e7!important}.dashboard-border-pale-green,.dashboard-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.dashboard-border-pale-yellow,.dashboard-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.dashboard-border-pale-blue,.dashboard-hover-border-pale-blue:hover{border-color:#e7ffff!important}

/* dashboard Blue theme */
.dashboard-theme-l5 {color:#000 !important; background-color:#f5f7f8 !important}
.dashboard-theme-l4 {color:#000 !important; background-color:#dfe5e8 !important}
.dashboard-theme-l3 {color:#000 !important; background-color:#becbd2 !important}
.dashboard-theme-l2 {color:#000 !important; background-color:#9eb1bb !important}
.dashboard-theme-l1 {color:#fff !important; background-color:#7d97a5 !important}
.dashboard-theme-d1 {color:#fff !important; background-color:#57707d !important}
.dashboard-theme-d2 {color:#fff !important; background-color:#4d636f !important}
.dashboard-theme-d3 {color:#fff !important; background-color:#435761 !important}
.dashboard-theme-d4 {color:#fff !important; background-color:#3a4b53 !important}
.dashboard-theme-d5 {color:#fff !important; background-color:#303e45 !important}

.dashboard-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.dashboard-theme-dark {color:#fff !important; background-color:#303e45 !important}
.dashboard-theme-action {color:#fff !important; background-color:#303e45 !important}

.dashboard-theme {color:#fff !important; background-color:#607d8b !important}
.dashboard-text-theme {color:#607d8b !important}
.dashboard-border-theme {border-color:#607d8b !important}

.dashboard-hover-theme:hover {color:#fff !important; background-color:#607d8b !important}
.dashboard-hover-text-theme:hover {color:#607d8b !important}
.dashboard-hover-border-theme:hover {border-color:#607d8b !important}

/* Additional Style*/
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(../../img/img2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shdow);
}
.showcase h1{
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);

}
.showcase p{
    font-size: 1.3rem;
    margin: 1;
    color: var(--light);
}
.btn{
    
    background: var(--dark);
    color: var(--light);
    font-size: 18px;
    padding: 1.6rem 2rem;
    text-decoration: none;
    border: 0;
}
.dashboard-button-border{
    border-color: lightblue;
    border-style: solid;
    border-radius: 1px;
}
