.search {
  margin-left: 5%;
  margin-top:-10%;
  margin-bottom:-44%;
}

.lives {
  margin-left: 39%;
  width: 20%;
  border: white;
  text-align: left;
  border-style: white;
  margin-top: %;
  position:absolute;
  color:black;
}

.search_bar{
 position:absolute;
 margin-left:38%;
 
}